<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="index.css"/>
<% end %>

<div id="header">
</div>

<div id="left_panel">
</div>

<div id="center_panel">
  <div id="featured_post">
  </div>
  
  <div>
    <form>
      <input id="search" type="text" placeholder="search reddull">
    </form>
  </div>
  
  <div id="submit_post">
    <button class="post_button" type="button">Submit a new link</button>
    <button class="post_button" type="button">Submit a new text post</button>
  </div>
  
  <div class="featured_ad">
  </div>
  <p id="discuss_ad">discuss this ad on reddit</p>
</div>

<!-- Was not sure how to make the content in the center (posts) extend all the way to the left panel -->
