<!DOCTYPE html>
<html>
  <head>
    <%= yield_content :stylesheets %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <title> Reddish </title>
  </head>
  <body>
	<%= yield %>
  </body>
</html>