<h1>Create a new link</h1>

<h2>Creating a new newslink</h2>
<form method="POST">
	<b>URL</b><input name="url"><br>
	<b>Title</b><input name="title"><br>
	<b>Description</b><input name="description"><br>
	<input type="submit" value="¡Create!">
</form>
