<h1>Create a new link</h1>

<h2>Creating a new newslink</h2>
<form method="POST">
	<b>URL</b><input name="url"><br>
	<b>Title</b><input name="title"><br>
	<b>Description</b><input name="description"><br>
  <b>Category</b>
  <select name="category">
    <% @categories.each do |category| %>
    <option value="<%= category[0] %>"><%= category[1] %></option>
    <% end %> 
  </select>
	<input type="submit" value="¡Create!">
</form>
